body{
	background-color:#f6f6f6;
}
.top{
	background-color: black;
	height:40px;
	width:100%;
}

.title{
	width:100%;
	background-color: white;
	height:130px;
	text-align: center;
}
.title1{
	padding-top:25px;
	font-size:35px;
}
.title2{
	margin-top:10px;
	font-size:15px;
	color:#7b7b7b;
}
.content{
	padding:20px;
	width:60%;
	margin:30px auto auto auto;
	height:auto;
	background-color: white;
}
.content1{
	
	font-weight:bold;
	margin:0px 0px 25px 0px;
	font-size:20px;
}
.content2{
	line-height: 25px;
	font-weight:bold;
	margin-bottom:10px;
	padding-left:20px;
	font-size:16px;
	color:black;
}
.content3{
	line-height:30px;
	color:#d00000;
	padding-left:20px;
	font-weight:bold;
	margin-bottom:20px;
	font-size:15px;
	text-decoration-line:top;
	/*color:#551a8b;*/
}